body {
    background-color: lightpink;}

    img {max-width: 100%;}
    ul {
     display: flex;   
     justify-content: space-around;
     list-style-type: none;
     gap: 1em;
     flex-wrap: wrap;
    }